src/main/resources/com/yee/study/spring/xsd/test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://study.yee.com/schema/bean/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://study.yee.com/schema/bean/test">

    <xsd:element name="custom" type="customType">
    </xsd:element>

    <xsd:complexType name="customType">
        <xsd:attribute name="id" type="xsd:ID">
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>